DB_USERNAME=USERNAME
DB_PASSWORD=PASSWORD
DB_URL=URL
DEV_DB_USERNAME=USERNAME
DEV_DB_PASSWORD=PASSWORD
DEV_DB_URL=URL
DOCKER_DB_USERNAME=USERNAME
DOCKER_DB_PASSWORD=PASSWORD
DOCKER_DB_NAME=NAME
DOCKER_DB_URL=URL